
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.col-lg-6 h3{
    font-family: 'Poppins', sans-serif;
}

.hero-waves {
    display: block;
    margin-top: 60px;
    width: 100%;
    height: 60px;
    z-index: 5;
    position: relative;
  }
  
  .wave1 use {
    -webkit-animation: move-forever1 10s linear infinite;
    animation: move-forever1 10s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
  }
  
  .wave2 use {
    -webkit-animation: move-forever2 8s linear infinite;
    animation: move-forever2 8s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
  }
  
  .wave3 use {
    -webkit-animation: move-forever3 6s linear infinite;
    animation: move-forever3 6s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
  }
  @-webkit-keyframes up-down {
    0% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-10px);
    }
  }
  
  @keyframes up-down {
    0% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-10px);
    }
  }
  
  @-webkit-keyframes move-forever1 {
    0% {
      transform: translate(85px, 0%);
    }
    100% {
      transform: translate(-90px, 0%);
    }
  }
  
  @keyframes move-forever1 {
    0% {
      transform: translate(85px, 0%);
    }
    100% {
      transform: translate(-90px, 0%);
    }
  }
  
  @-webkit-keyframes move-forever2 {
    0% {
      transform: translate(-90px, 0%);
    }
    100% {
      transform: translate(85px, 0%);
    }
  }
  
  @keyframes move-forever2 {
    0% {
      transform: translate(-90px, 0%);
    }
    100% {
      transform: translate(85px, 0%);
    }
  }
  
  @-webkit-keyframes move-forever3 {
    0% {
      transform: translate(-90px, 0%);
    }
    100% {
      transform: translate(85px, 0%);
    }
  }
  
  @keyframes move-forever3 {
    0% {
      transform: translate(-90px, 0%);
    }
    100% {
      transform: translate(85px, 0%);
    }
  }
  
.logo{
    border-radius: 100%;
    width: 80px;
    height: 80px;
}
#title,#cta,#testimonials,#press{
    background-color:  #303030;
}
.description,#testimonials,#press,#pricing,#footer,#cta{
    text-align: center;
}
#cta,#footer{
    padding: 5% 7%;
}
h2,.features-heading,.cta-head{
    font-weight: bold;
}
#main-head,.features-description,h2{
    line-height: 1.5;
}
h5{
    padding: 3%;
    color: #fff;
}
#main-head{
    font-size: 3.5rem;
    font-weight: 900;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
h3{
    font-weight: 500;
    font-size: 1.5rem;
    color: #c0b0b0;
}
.container-fluid{
    padding: 3% 10% 8%;
}
.navbar{
    padding: 0 0 4.5rem;
}
.navbar-brand{
    font-size: 2.5rem;
    font-weight: 400;
    font-family: 'Ubuntu', sans-serif;
}
.nav-item{
    padding:0 15px;
}
.nav-link{
    font-size: 1rem;
    font-weight: normal;
}

.download-button, .cta-button{
    margin: 5% 3% 5% 0;
}
.dog-img{
    width: 80%;
    border-radius: 1rem;
}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    background:#fff;
}

.contact .content{
    max-width: 800px;
    text-align: center;
}

.contact .content h2{
    font-size: 36px;
    font-weight: 700;
    color: rgba(5, 5, 5, 0.897);
}
.contact .content p{
    font-weight: 500;
    color: rgba(5, 5, 5, 0.897);
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #51adcf;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
    
}

.container .contactInfo .box .text{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-size: 16px;
    color: #393e46;
    font-weight: 500;
}

.container .contactInfo .box .text h3{
    font-weight: 500;
    color: #0278ae;
}

.contactForm{
    width: 40%;
    padding: 40px;
    background-color: #fff;
    border-radius: 0.8rem;
    box-shadow: 0 20px 50px rgba(5, 112, 184, 0.5);
}

.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom:2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"]{
    width: 100px;
    background: #0278ae;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 0.8rem;
    font-size: 18px;
}

@media (max-width:991px){
    .contact{
        padding:50px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactInfo{
        margin-bottom: 40px;
    }
    .container .contactInfo, .contactForm{
        width: 100%;
    }
}
@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500&display=swap");

.team {
    padding:5%;
  display: grid;
  grid-template-columns: 250px 250px 250px;
  grid-gap: 50px;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #fff;
  height: 20rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

.card__name {
  margin-top: 15px;
  font-size: 1.5em;
}

.card__image {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-top: 20px;
}


.draw-border {
  box-shadow: inset 0 0 0 4px #58cdd1;
  color: #58afd1;
  -webkit-transition: color 0.25s 0.0833333333s;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}

.draw-border::before,
.draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0rem;
  height: 0;
  bottom: 0;
  right: 0;
}

.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}

.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}

.draw-border:hover {
  color: #ffe593;
}

.draw-border:hover::before,
.draw-border:hover::after {
  border-color: #eb196e;
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.draw-border:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
  transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
  transition-delay: 0s, 0.25s, 0s;
}
.footer{
    padding: 5%;
}

.footer a{
    text-decoration: none;
}
.footer-link{
    padding-top: 3%;
    padding-right: 2%;
    font-family: 'Courier Prime', monospace;
    color: black;
    font-size: 1.5rem;
}
.footer-link:hover{
    color:  #0278ae;
}